.text {
	position: absolute;
	transform : translate(-50%,-50%);
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	color: white;
	white-space: nowrap;
}
.object-text {
	font-size: 1rem;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	&--rotate {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	&--bottom {
		font-size: 1rem;
		line-height: 1rem;
		position: absolute;
		top: 105%;
		left:50%;
		transform: translateX(-50%);
		white-space: nowrap;
		color: #FFFFFF;
	}
	&--top {
		font-size: 1rem;
		line-height: 1rem;
		position: absolute;
		bottom: 105%;
		left:50%;
		transform: translateX(-50%);
		white-space: nowrap;
		color: #FFFFFF;
	}
}
.object-text--s {
	font-size: 0.7rem;
}
.social-area {
	fill: none;
	stroke: #D6FF58;
	stroke-width: 1;
}
.world-social {
	border: 1px dashed #D6FF58;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 66.8%;
	height: 66.8%;
	border-radius: 50%;
}
.world-area {
	fill: none;
	stroke: #1fb574;
	stroke-width: 1;
	stroke-dasharray: 3;
}
.dash-line {
	fill: none;
	stroke: #B5B5B5;
	stroke-width: 5;
	stroke-miterlimit: 10;
	stroke-dasharray: 5;
}
.framework {
	fill: #222222;
	stroke: #FBB03B;
	stroke-width: 1;
	stroke-miterlimit: 10;
	stroke-dasharray: 4;
}
.creation-arrow {
	fill: #999999;
	// display: none;
	&--b {
		fill: #222;
	}
}
.object{
	&--circle {
		border-radius: 50%;
		width: 20%;
		height: 20%;
		position: absolute;
		transform: translate(-50%, -50%);
		white-space: nowrap;
	}
	&--square {
		border-radius: 30%;
		width: 20%;
		height: 20%;
		position: absolute;
		transform: translate(-50%, -50%);
		white-space: nowrap;
	}
}
.notion {
	position: absolute;
	background-color: #222;
	border: 1px dashed #D3D4D3;
	width: 20%;
	height: 20%;
	&--b {
		background: none;
		border: 1px dashed #222222;
	}
}
.battle {
	fill:#FF1493;
}
.connect-line {
	fill: none;
	stroke: #B4B4B5;
	stroke-width: 3;
	stroke-dasharray: 3;
	&--l {
		stroke-width:5;
		stroke-miterlimit:10;
		stroke-dasharray:5;
	}
	&--m {
		stroke-width: 3;
		stroke-dasharray: 6;
	}
}
.government {
	background-color:#EA4256;
	width: 18%;
	height: 18%;
}
.negative {
	background-color: #2E3192;
}
.citizen {
	background-color:#0FA55A;
	width: 12%;
	height: 12%;
}
.god {
	background-color: $godColor;
	color: #222222;
}
.structure {
	border: 1px dashed #F7931E;
	position: absolute;
	transform: translate(-50%, -50%);
}
.god--world {
	border: 1px solid $godColor;
	position: absolute;
	transform: translate(-50%, -50%);
	// border-radius: 50%;
}
.world--nature {
	border: 1px solid $natureColor;
	position: absolute;
	// border-radius: 50%;
}
.ego--world {
	border: 1px dashed #EA60BC;
	position: absolute;
	transform: translate(-50%, -50%);
}
.notion--lang {
	border: 1px dashed #5FA8FF;
	background-color: #222;
}
.real-world {
	border: 1px solid #B4B4B5;
	position: absolute;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}
.ego {
	white-space: nowrap;
	background-color:#EA60BC;
	fill: #EA60BC;
	color: #222;
}
.thing {
	position: absolute;
	background: #78C1BD;
	width: 25%;
	height: 25%;
	border-radius: 30%;
	transform: translate(-50%, -50%);
	color: #222;
}
.material {
	background: #78C1BD;
	fill: #78C1BD;
}
.body{
	fill: #333333;
}
.body--2 {
	fill: #78C1BD;
}
.body--3 {
	fill: #78C1BD;
	opacity: 0.8;
}
.work-arrow {
	line {
		fill: none;
		stroke: #999999;
		stroke-width: 1.4911;
	}
	polygon {
		fill: #999999;
	}
}
.scale-box {
	position: absolute;
	transform: translate(-50%, -50%);
}
.scale-box__element {
	transition: all 1s;
	width: 100%;
	height: 100%;
	transform: scale(0);
}
.rotate-box {
	position: absolute;
	transform: translate(-50%, -50%);
}
.rotate-box__element {
	transition: all 1s;
	width: 100%;
	height: 100%;
}
.animation-text {
	display: inline-block;
	opacity: 0;
	transform: translateY(1vw);
}
.is-animation-text {
	opacity: 1;
	transition-duration: 2s;
	transform: translateY(0);
}
