@import 'mixin';
@import 'map';
@import 'top';
@import 'object';
html,body, ul, li, h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans JP', sans-serif;
	table-layout: fixed;
}
body {
	background-color: #222;
	color: #F7F8F8;
	font-weight: 200;
}
li {
	list-style: none;
}
a {
	color: #FFFFFF;
	display: block;
	text-decoration: none;
}
.d-none {
	display: none;
}
.c-black {
	color: #222222;
}
.c-white {
	color: #FFFFFF;
}
.b-none {
	background: none;
}
.fadein {
	display: none;
}
.text-fade {
	opacity: 0;
	transition: all 1s;
}
.single-diagram {
	height: 100vh;
	display: flex;
  justify-content: center;
  align-items: center;
	&__title {
		position: absolute;
		top: 3vw;
		width: 100%;
		margin-right: 10vw;
		font-size: 2vw;
		line-height: 2.5vw;
		text-align: center;
		font-weight: 500;
	}
	&__subtitle {
		font-size: 1.2vw;
		font-weight: 300;
		&:hover {
			text-decoration: underline;
		}
	}
	&__box {
		width: 628px;
		height: 628px;
		overflow: hidden;
		border: 1px solid #888;
		margin-top: 6vw;
		margin-right: 10vw;
	}
	&__content {
		position: absolute;
		right: 4vw;
		width: 26%;
		margin-top: 4vw;
		&__text{
			font-size: 1vw;
			line-height: 2em;
			width: 100%;
			text-align:justify;
			margin-bottom: 3vw;
		}
		&__button {
			text-align: center;
			margin-top: 1.2vw;
			cursor: pointer;
			line-height: 1;
			width: 100%;
			border: 1px solid #CCC;
			padding: 1vw;
			box-sizing: border-box;
			margin: 1.5vw 0;
			font-size: 1.2vw;
			border-radius: 10vw;
			&:hover {
				background-color: #CCC;
				color: #222;
				transition: all 1s;
			}
		}
	}
}
.reset-button {
	position: absolute;
	bottom: 3%;
	right: 3%;
	width: 4%;
	height: 4%;
	img {
		width: 100%;
	}
}
.side-menu {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	width: 19%;
	height: 100vh;
	overflow: auto;
	background-color: #333;
	font-weight: 350;
	&__back {
		position: relative;
		border-bottom: 1px solid #CCC;
		a {
			font-size: 1.6vw;
			padding: 2vw;
			font-weight: 500;
			&:hover {
				img {
					transition: all .5s;
					transform: translate(-200%, -50%);
				}
			}
		}
		&__text {
			margin-left: 3vw;
		}
		&__icon {
			height: 100%;
		}
	}
	&__list {
		position: relative;
		// border-top: 1px solid #EEE;
		&__text {
			margin-left: 2.8vw;
		}
		&__icon {
			&--life {
				@include sidemenuicon($lifeColor);
			}
			&--world {
				@include sidemenuicon($worldColor);
			}
			&--history {
				@include sidemenuicon($historyColor);
			}
			&--mind {
				@include sidemenuicon($mindColor);
			}
			&--causality {
				@include sidemenuicon($causalityColor);
			}
			&--social {
				@include sidemenuicon($socialColor);
			}
			&--lang {
				@include sidemenuicon($langColor);
			}
			&--perception {
				@include sidemenuicon($perceptionColor);
			}
		}
		a {
			padding: 1.5vw 2vw;
			font-size: .8vw;
			font-weight: 200;
			line-height: 100%;
			margin-right: 1vw;
			&:hover {
				background-color: #555;
				transition: all .5s;
			}
		}
		.current {
			background-color: #888;
		}
	}
	&__heading {
		margin: 2vw 2vw 1vw;
		padding-left: 1vw;
		font-size: 1.5vw;
		line-height: 2.5vw;
		&.life {
			border-left: 1vw solid $lifeColor;
		}
		&.world {
			border-left: 1vw solid $worldColor;
		}
		&.history {
			border-left: 1vw solid $historyColor;
		}
		&.mind {
			border-left: 1vw solid $mindColor;
		}
		&.causality {
			border-left: 1vw solid $causalityColor;
		}
		&.social {
			border-left: 1vw solid $socialColor;
		}
		&.lang {
			border-left: 1vw solid $langColor;
		}
		&.perception {
			border-left: 1vw solid $perceptionColor;
		}
	}
	img {
		height: 2vw;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
.fa-arrow-alt-circle-left {
	display: inline-block;
	height: 1vw;
	width: 1vw;
}
.word {
	position: absolute;
	transform : translate(-50%,-50%);
	width: 200px;
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	display: none;
}
.circle {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #5AC8FF;
	&__word {
		color: black;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 13px;
		width: 300px;
		text-align: center;
	}
}
.line-effect {
	&--1 {
		animation: draw 1s ease-out forwards;
	}
	&--2 {
		animation: draw 2s ease-out forwards;
	}
	&--3 {
		animation: draw 3s ease-out forwards;
	}
	&--5 {
		animation: draw 5s ease-out forwards;
	}
	&--10 {
		animation: draw 10s linear forwards;
	}
}
.deray{
	&--2 {
		animation-delay: 2s;
	}
	&--4 {
		animation-delay: 4s;
	}
	&--6 {
		animation-delay: 6s;
	}
	&--10 {
		animation-delay: 10s;
	}
}
@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}
.line {
	&--artificial {
		@include line(#D6FF58);
	}
	&--god {
		@include line(#5AC8FF);
	}
	&--perception {
		fill: none;
		stroke-width: 10;
		stroke: #CCC;
	}
}
.point {
	fill:#FF1493;
}
.abstract {
	border: 1px dashed #D2D3D2;
}
.blinking{
	animation:blink 1.5s ease-in-out infinite alternate;
}
@keyframes blink{
	0% {opacity:0;}
	100% {opacity:1;}
}
